.first-page {
    margin-left: 50px;
    color: #fff;

    &__title {
        font-size: 30px;

        span {
            color: #AADC40;
        }
    }

    &__text {
        font-weight: lighter;
        margin-top: 10px;
        line-height: 25px;
        font-size: 14px;
    }

    &__button {
        width: 100px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #AADC40;
        color: #252F2E;
        cursor: pointer;

        &:hover {
            background-color: #8eb930;
        }
    }

    &__button:last-child {
        background-color: #445752;
        color: #ffffff8e;
        margin-left: 10px;

        &:hover {
            background-color: #607e76;
        }
    }
}

@media (max-width:960px) {
    .first-page {
        width: 90%;
        margin: 20px 0 0 0;
    }
}